@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  /* primary */
  --soft-blue: hsl(231, 69%, 60%);
  --primary: hsl(336, 100%, 50%);
  --soft-red: hsl(0, 94%, 66%);
  /* neutral */
  --grayish-blue: hsl(229, 8%, 60%);
  --very-dark-blue: hsl(229, 31%, 21%);
  --white: hsl(0, 0%, 100%);
  --neutral: hsl(0, 0%, 96%);
  --bg: hsl(0, 0%, 98%);
  --border-color: hsl(185, 18%, 88%);
  --text-color: hsl(215, 19%, 35%);
  --text-color-1: hsl(217, 33%, 17%);
  --gradient-1: hsl(266, 64%, 44%);
  --gradient-2: hsl(231, 67%, 41%);
  --color-base-200: #fafafa;
  --color-base-400: #e6ebf4;
  /* border radius */
  --rounded: 0.4rem;
  --rounded-sm: 0.2rem;
  /* font */
  --fallbck-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* container */
  --container-width: 80em;
}

html:focus-within {
  scroll-behavior: smooth;
}

::-moz-selection {
  background-color: var(--primary);
  color: white;
}

::selection {
  background-color: var(--primary);
  color: white;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* fieldset {
  border: none;
} */
ul[role=list],
ul {
  list-style: none;
  padding: 0;
}

button {
  cursor: pointer;
}

/*
.kVUXdg {
  width: 100%;
  max-width: 320px;
  background-color: var(--primary);
  border: medium;
  color: rgb(255, 255, 255);
  border-radius: var(--radius);
  height: 48px;
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: var(--weight-semi);
  min-width: 160px;
  cursor: pointer;
  margin-top: 0px;
*/
body {
  min-height: 100vh;
  font-family: "Rubik", var(--fallbck-font);
  overflow-x: hidden;
  background-color: var(--bg);
  display: grid;
}

#root {
  height: 100%;
}

.app {
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr auto;
}

main {
  padding: 1rem;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.visually-hidden:not(:focus):not(:active) {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.skip-link {
  color: var(--white);
  font-weight: 600;
  display: block;
  padding: 0.25em 1em;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  position: absolute;
  z-index: 9999;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

.skip-link:focus {
  outline: 2px solid var(--font-light);
  outline-offset: 3px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  width: 100%;
}

/* button */
.btn:is(a) {
  text-decoration: none;
}

.btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  font-weight: 700;
  font-size: 1em;
  border-radius: 0.45rem;
  -webkit-transition: opacity 200ms ease, background-color 150ms ease;
  transition: opacity 200ms ease, background-color 150ms ease;
}
.btn:focus {
  outline-width: 2px;
  outline-offset: 3px;
  outline-style: solid;
}
.btn:hover {
  opacity: 0.8;
}
.btn-primary-hover:hover {
  background-color: transparent;
  outline: 3px solid var(--soft-blue);
  color: var(--soft-blue);
}
.btn-secondary-hover:hover {
  background-color: transparent;
  outline: 2px solid var(--soft-red);
  color: var(--soft-red);
}
.btn--primary, .btn--secondary, .btn--outlined, .btn--gradient {
  min-width: 9rem;
  padding: 0.8rem 1rem;
}
.btn--primary {
  background-color: var(--primary);
  color: white;
}
.btn--primary:focus {
  outline-color: var(--primary);
}
.btn--secondary {
  background-color: var(--soft-red);
  color: white;
}
.btn--secondary:focus {
  outline-color: var(--soft-red);
}
.btn--ghost {
  padding: 0;
  background-color: transparent;
  color: var(--very-dark-blue);
}
.btn--ghost:focus {
  outline-color: var(--primary);
}
.btn--outlined {
  outline: 2px solid var(--primary);
  background-color: transparent;
  color: var(--primary);
}
.btn--gradient {
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(var(--primary)), to(var(--soft-red)));
  background: linear-gradient(to right, var(--primary), var(--soft-red));
}
.btn--gradient:focus {
  outline-color: var(--primary);
}