.input--is-type-password {
  position: relative;
}
.input--is-type-password__visibility-toggle {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  height: 60%;
  color: var(--text-color);
}
.input--is-type-password__visibility-toggle:focus {
  border-radius: var(--rounded-sm);
  outline: 1px solid var(--soft-blue);
}

input {
  border-radius: var(--rounded-sm);
  border: 1px solid var(--border-color);
  padding: 0.65em 0.8em;
  width: 100%;
  color: var(--text-color);
}
input::-webkit-input-placeholder {
  color: var(--text-color);
  font-weight: 300;
}
input::-moz-placeholder {
  color: var(--text-color);
  font-weight: 300;
}
input:-ms-input-placeholder {
  color: var(--text-color);
  font-weight: 300;
}
input::-ms-input-placeholder {
  color: var(--text-color);
  font-weight: 300;
}
input::placeholder {
  color: var(--text-color);
  font-weight: 300;
}
input:focus {
  outline: none;
  border-color: var(--soft-blue);
}