.hero {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  background-image: url("../../assets/landing-pattern-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero__header {
  max-width: 18ch;
  font-size: clamp(1.8rem, 4vw, 3rem);
  font-weight: 800;
  color: var(--text-color-1);
  letter-spacing: 1px;
  line-height: 1;
  text-align: center;
}
.hero__illustration {
  padding: 1rem;
  width: 100%;
  max-width: 20rem;
}
.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 45em;
}
.hero__text {
  line-height: 1.5;
  max-width: 40ch;
  text-align: center;
  color: var(--text-color);
  font-size: clamp(1rem, 5vw, 1.12rem);
}
@media screen and (min-width: 65em) {
  .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: visible;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero__header {
    text-align: left;
    max-width: none;
  }
  .hero__illustration {
    max-width: none;
  }
  .hero__content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    max-width: 32rem;
  }
  .hero__text {
    text-align: left;
    line-height: 1.5;
    max-width: none;
  }
}

@media screen and (min-width: 65em) {
  .wrap {
    height: 100%;
    display: grid;
    place-content: center;
  }
}

.gradient-text {
  background: -webkit-gradient(linear, left top, right top, from(var(--primary)), to(var(--soft-red)));
  background: linear-gradient(to right, var(--primary), var(--soft-red));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}