header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.07);
  background-color: var(--white);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  max-width: var(--container-width);
  width: 100%;
  padding: 0.8rem 0;
  margin: 0 1rem;
}

.header-logo {
  text-decoration: none;
  color: var(--very-dark-blue);
}

.header-toggle-btn {
  --speed: 200ms;
  --delay: 0.12s;
  cursor: pointer;
  width: 30px;
  color: var(--very-dark-blue);
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: none;
  background-color: transparent;
  /* open state */
  /* media queries */
}
.header-toggle-btn span {
  display: block;
  width: 100%;
  border-radius: var(--rounded);
  height: 2.5px;
  background-color: var(--very-dark-blue);
  position: relative;
  -webkit-transition: -webkit-transform var(--speed) ease;
  transition: -webkit-transform var(--speed) ease;
  transition: transform var(--speed) ease;
  transition: transform var(--speed) ease, -webkit-transform var(--speed) ease;
}
.header-toggle-btn span::before, .header-toggle-btn span::after {
  position: absolute;
  content: "";
  display: block;
  width: inherit;
  border-radius: 1rem;
  height: inherit;
  top: 0;
  left: 0;
  background: inherit;
}
.header-toggle-btn span::before {
  top: -6px;
  -webkit-transition: top var(--speed) var(--delay) ease, -webkit-transform var(--speed) var(--delay) ease;
  transition: top var(--speed) var(--delay) ease, -webkit-transform var(--speed) var(--delay) ease;
  transition: top var(--speed) var(--delay) ease, transform var(--speed) var(--delay) ease;
  transition: top var(--speed) var(--delay) ease, transform var(--speed) var(--delay) ease, -webkit-transform var(--speed) var(--delay) ease;
}
.header-toggle-btn span::after {
  top: 6px;
  -webkit-transition: top var(--speed) var(--delay) ease, -webkit-transform var(--speed) ease;
  transition: top var(--speed) var(--delay) ease, -webkit-transform var(--speed) ease;
  transition: top var(--speed) var(--delay) ease, transform var(--speed) ease;
  transition: top var(--speed) var(--delay) ease, transform var(--speed) ease, -webkit-transform var(--speed) ease;
}
.header-toggle-btn[aria-expanded=true] span {
  -webkit-transition: -webkit-transform var(--speed) var(--delay) ease;
  transition: -webkit-transform var(--speed) var(--delay) ease;
  transition: transform var(--speed) var(--delay) ease;
  transition: transform var(--speed) var(--delay) ease, -webkit-transform var(--speed) var(--delay) ease;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header-toggle-btn[aria-expanded=true] span::before {
  top: 0;
  -webkit-transition: top var(--speed) ease;
  transition: top var(--speed) ease;
}
.header-toggle-btn[aria-expanded=true] span::after {
  top: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: top var(--speed) ease, -webkit-transform var(--speed) var(--delay) ease;
  transition: top var(--speed) ease, -webkit-transform var(--speed) var(--delay) ease;
  transition: top var(--speed) ease, transform var(--speed) var(--delay) ease;
  transition: top var(--speed) ease, transform var(--speed) var(--delay) ease, -webkit-transform var(--speed) var(--delay) ease;
}
@media screen and (min-width: 45em) {
  .header-toggle-btn {
    display: none;
  }
}

.nav {
  position: absolute;
  top: calc(100% + 1rem);
  z-index: 10;
  background-color: var(--white);
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.07);
  padding: 1rem;
  width: 100%;
  max-width: 30rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  visibility: hidden;
  overflow: hidden;
  /* open state */
  /* media queries */
}
.nav--open {
  opacity: 1;
  visibility: visible;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 45em) {
  .nav {
    position: static;
    opacity: 1;
    visibility: visible;
    -ms-flex-item-align: end;
        align-self: flex-end;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-box-shadow: none;
            box-shadow: none;
    max-width: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0;
    overflow: visible;
  }
  .nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0.1rem 0.3rem;
  }
}