.review-page__header {
  font-weight: 500;
  margin-bottom: 1rem;
}
.review-page__info {
  color: var(--text-color);
}

.review-meta {
  padding: 0.85rem;
  border-radius: var(--rounded);
  border: 1px solid var(--border-color);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1rem 0;
  background-color: var(--white);
  -webkit-box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.0196078431);
          box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.0196078431);
}
.review-meta p {
  color: var(--text-color);
  font-size: 1rem;
}

.review-questions-list {
  display: grid;
  gap: 2.5rem;
}

.review-question__header {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 0.8rem;
}
.review-question__answers {
  display: grid;
  gap: 0.7rem;
}
.review-question__answer {
  padding: 0.7rem;
  background-color: var(--white);
  border-radius: var(--rounded);
  border: 1px solid var(--border-color);
}
.review-question__answer--correct {
  border-color: green;
  border-width: 2px;
}
.review-question__answer--wrong {
  border-color: var(--soft-red);
  border-width: 2px;
}
.review-question__correct-answer {
  font-weight: 500;
}