.user-menu {
  position: relative;
}
.user-menu__toggle-btn {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  display: grid;
  place-content: center;
  font-weight: 500;
  color: var(--text-color);
  border-radius: 50%;
}
.user-menu__toggle-btn:focus-visible {
  outline: 2px solid var(--text-color);
  outline-offset: 2px;
}
.user-menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.4rem;
  position: absolute;
  top: calc(100% + 1rem);
  right: 0;
  background-color: var(--white);
  padding: 1rem;
  border-radius: var(--rounded);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  min-width: 8rem;
}
.user-menu__link, .user-menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.6rem;
  padding: 0.3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}
.user-menu__link span, .user-menu-btn span {
  display: inline-block;
}
.user-menu__link:hover, .user-menu-btn:hover {
  opacity: 0.8;
  color: var(--soft-blue);
}
.user-menu__link:focus-visible, .user-menu-btn:focus-visible {
  outline-offset: 2px;
  outline: 2px solid var(--text-color);
}
.user-menu__link {
  color: var(--text-color);
  text-decoration: none;
}
.user-menu-btn {
  color: var(--text-color-1);
  width: 100%;
  border: none;
  background-color: transparent;
}