.quiz-btn__container {
  display: flex;
  gap: 0.4rem;
  margin: 0.75rem 0;
  padding: 0.8rem 0;
  border-top: 1px solid var(--grayish-blue);
  flex-wrap: wrap;
}

.quiz-container {
  &__btn--redirect {
    display: inline-block;
    margin-bottom: 1rem;
  }
}

.quiz-progress-btn-group {
  display: flex;
  gap: 0.5rem;
  width: 100%;

  &__btn {
    padding: 0.5em 1em;
    width: fit-content;
    background-color: var(--soft-blue);
    color: var(--white);
    border: none;
    outline: 1px solid var(--border-color);
    border-radius: var(--rounded-sm);
    font-size: 1em;
    font-weight: 500;
    transition: opacity 150ms ease, outline 150ms ease;

    &:hover {
      opacity: 0.8;
    }

    &:focus-visible {
      outline: 2px solid var(--soft-blue);
      outline-offset: 2px;
    }
  }
}
