.review-page {
  // background-color: red;

  &__header {
    font-weight: 500;
    margin-bottom: 1rem;
  }

  &__info {
    color: var(--text-color);
    margin: 1rem 0;
  }
}

.review-meta {
  display: grid;
  gap: 0.4rem;
  padding: 1.2rem 1rem;
  border-radius: var(--rounded);
  outline: 1px solid var(--border-color);
  // width: fit-content;
  margin: 1rem 0;
  min-height: 18vh;
  margin-block-start: -3.5rem;
  background-color: var(--white);
  box-shadow: var(--shadow-sm);

  &__header {
    font-size: var(--header-size);
    font-weight: 500;
  }

  &__header-2 {
    font-size: var(--text-size);
    color: var(--text-color);
    font-weight: 500;
  }

  p {
    color: var(--text-color);
    font-size: 1rem;
  }
}

.review-questions-list {
  display: grid;
  gap: 2.5rem;
}

.review-question {
  &__header {
    font-size: var(--text-size-larger);
    font-weight: 400;
    margin-bottom: 0.8rem;
  }

  &__answers {
    display: grid;
    gap: 0.7rem;
    padding: 0 1.2rem;
  }

  &__answer {
    color: var(--text-color);
    padding: 0.7rem;
    font-family: var(--text-size) !important;
    background-color: var(--white);
    border-radius: var(--rounded);
    border: 1px solid var(--border-color);

    &--correct {
      border-color: green;
      border-width: 2px;
    }

    &--wrong {
      border-color: var(--soft-red);
      border-width: 2px;
    }
  }

  &__correct-answer {
    font-weight: 500;
    color: var(--text-color);
  }
}
