@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  /* primary */
  --soft-blue: hsl(231, 69%, 60%);
  --primary: hsl(336, 100%, 50%);
  --soft-red: hsl(0, 94%, 66%);

  /* neutral */
  --grayish-blue: hsl(229, 8%, 60%);
  --very-dark-blue: hsl(229, 31%, 21%);
  --white: hsl(0, 0%, 100%);
  --neutral: hsl(0, 0%, 96%);
  --bg: hsl(0, 0%, 98%);
  --border-color: hsl(185, 18%, 88%);
  --text-color: hsl(215, 19%, 35%);
  --text-color-1: hsl(217, 33%, 17%);

  --gradient-1: hsl(266, 64%, 44%);
  --gradient-2: hsl(231, 67%, 41%);
  --color-base-200: #fafafa;
  --color-base-400: #e6ebf4;

  /* border radius */
  --rounded: 0.4rem;
  --rounded-sm: 0.2rem;

  /* font */
  --fallbck-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* container */
  --container-width: 70em;
  --container-width-sm: 40em;
  --container-width-md: 50em;

  /* font */
  --text-size: clamp(0.9rem, 4vw, 0.95rem);
  --text-size-larger: clamp(0.95rem, 4vw, 1.1rem);
  --header-size: clamp(1.2rem, 4vw, 1.5rem);

  --box-shadow: 0px 3.5px 5.5px 0px #00000005;
  --shadow-lg: 0 10px 25px -15px rgba(0, 0, 0, 0.2);
  --shadow-sm: 0 1px 1px 0 rgba(0, 0, 0, 0.07);

  // react toastify
  --toastify-toast-width: fit-content;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
}

html:focus-within {
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--soft-blue);
  color: white;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul[role="list"],
ul {
  list-style: none;
  padding: 0;
}

button {
  cursor: pointer;
}

body {
  min-height: 100vh;
  font-family: "Rubik", var(--fallbck-font);
  overflow-x: hidden;
  background-color: var(--bg);
  display: grid;
}

#root {
  height: 100%;
}

.app {
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr auto;
}

main {
  /* TODO: fix this padding: 1rem */
  margin-top: 1rem;
  display: grid;
  grid-template-rows: 1fr;
}

.page-header {
  font-weight: 700;
  margin-bottom: 1rem;
}
.page-header-2 {
  font-weight: 600;
}

.visually-hidden:not(:focus):not(:active) {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.skip-link {
  color: var(--white);
  font-weight: 600;
  display: block;
  padding: 0.25em 1em;
  transform: translateY(-100%);
  position: absolute;
  z-index: 9999;
  transition: transform 0.1s ease-in-out;
}

.skip-link:focus {
  outline: 2px solid var(--font-light);
  outline-offset: 3px;
  transform: translateY(0);
}

p {
  font-size: var(--text-size);
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* button */
.btn:is(a) {
  text-decoration: none;
}

.btn {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-weight: 700;
  font-size: var(--text-size);
  border-radius: 0.45rem;
  transition: opacity 200ms ease, background-color 150ms ease;

  &:not(.btn--ghost):focus {
    outline-width: 2px;
    outline-offset: 3px;
    outline-style: solid;
  }

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.8;
  }

  &--has-icon {
    gap: 0.5rem;
  }

  & .btn-icon {
    animation: rotate 700ms linear infinite;
  }

  &--primary,
  &--secondary,
  &--outlined,
  &--gradient {
    min-width: 8rem;
    padding: 0.75rem 1rem;
  }

  &--primary {
    background-color: var(--soft-blue);
    color: white;

    &:focus {
      outline-color: var(--soft-blue);
    }
  }

  &--secondary {
    background-color: var(--soft-red);
    color: white;

    &:focus {
      outline-color: var(--soft-red);
    }
  }

  &--ghost {
    padding: 0;
    background-color: transparent;
    color: var(--very-dark-blue);
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: calc(100% + 0.1rem);
      width: 100%;
      height: 2px;
      background-color: var(--soft-blue);
      opacity: 0;
      transition: opacity 100ms linear;
    }
  }

  &--outlined {
    outline: 2px solid var(--soft-blue);
    background-color: transparent;
    color: var(--soft-blue);
  }

  &--gradient {
    color: white;
    background: linear-gradient(to right, var(--soft-blue), var(--gradient-1));

    &:focus {
      outline-color: var(--soft-blue);
    }
  }

  &--full-width {
    width: 100%;
  }

  &--danger,
  &--neutral {
    font-weight: 500;
    padding: 0.6rem 0.8rem;
    min-width: 5.5rem;
    border-radius: var(--rounded-sm);
  }

  &--danger {
    background-color: var(--soft-red);
    color: var(--white);
  }

  &--neutral {
    background-color: var(--bg);
    color: var(--text-color);
    border: 1px solid var(--border-color);

    &:hover {
      background-color: var(--color-base-400);
      // opacity: 0.8;
    }

    &:focus {
      outline: 1px solid var(--grayish-blue);
    }
  }
}

// form and inputs

form {
  display: grid;
  gap: 1rem;
}

label {
  font-weight: 400;
  cursor: pointer;
}

label,
input {
  font-size: var(--text-size);
}

.form-group {
  display: grid;
  gap: 0.2rem;
}

.form-error {
  color: red;
}

.container,
.container-sm,
.container-md,
.container-flexed {
  height: 100%;
  margin: 0 auto;
  padding: 1rem 0;
}

.auth-container {
  max-width: 30rem;
}

.container,
.container-sm,
.container-md {
  width: 100%;
}

.container {
  max-width: var(--container-width);
}

.container-sm {
  max-width: var(--container-width-sm);
}

.container-md {
  max-width: var(--container-width-md);
}

.container-padded {
  padding-left: 1rem;
  padding-right: 1rem;

  @media screen and (min-width: 75em) {
    padding-left: 0;
    padding-right: 0;
  }
}

// auth container
.container-flexed {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 3rem;

  @media screen and (min-width: 60em) {
    justify-content: center;
    padding-top: 0;
  }
}

.auth-form-container {
  display: grid;
  gap: 1rem;
  width: 100%;
  max-width: 30rem;
  padding: 1.5rem 1.2rem;
  background-color: var(--white);
  box-shadow: 0px 3.5px 5.5px 0px #00000005;

  @media screen and (min-width: 30em) {
    border-radius: var(--rounded);
  }

  @media screen and (min-width: 60em) {
    & {
      padding: 1.5rem;
    }
  }
}

.auth-text {
  text-align: center;
}

.auth-link {
  color: var(--text-color);
  font-weight: 400;
  font-size: var(--text-size);
  transition: color 100ms linear;
  width: fit-content;

  &:hover {
    color: var(--soft-blue);
  }
}

.auth-flex {
  display: flex;
  margin: 0 auto;
  gap: 0.3rem;
}

.top-cover {
  padding: 1rem 0;
  border-bottom: 1px solid var(--border-color);
  min-height: 20vh;
  background-color: var(--white);
}
