@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  /* primary */
  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);

  /* neutral */
  --grayish-blue: hsl(229, 8%, 60%);
  --very-dark-blue: hsl(229, 31%, 21%);
  --white: hsl(0, 0%, 100%);
  --neutral: hsl(0, 0%, 96%);
  --bg: hsl(0, 0%, 98%);
  --border-color: hsl(185, 18%, 88%);
  --text-color: hsl(215, 19%, 35%);
  --text-color-1: hsl(217, 33%, 17%);

  --gradient-1: hsl(266, 64%, 44%);
  --gradient-2: hsl(231, 67%, 41%);
  --color-base-200: #fafafa;
  --color-base-400: #e6ebf4;

  /* border radius */
  --rounded: 0.4rem;
  --rounded-sm: 0.2rem;

  /* font */
  --fallbck-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* container */
  --container-width: 80em;
}

html:focus-within {
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* fieldset {
  border: none;
} */

ul[role="list"],
ul {
  list-style: none;
  padding: 0;
}

button {
  cursor: pointer;
}

body {
  min-height: 100vh;
  font-family: "Rubik", var(--fallbck-font);
  overflow-x: hidden;
  background-color: var(--bg);
  display: grid;
}

#root {
  height: 100%;
}

.app {
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr auto;
}

main {
  padding: 1rem;
  margin-top: 1rem;
}

.visually-hidden:not(:focus):not(:active) {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.skip-link {
  color: var(--white);
  font-weight: 600;
  display: block;
  padding: 0.25em 1em;
  transform: translateY(-100%);
  position: absolute;
  z-index: 9999;
  transition: transform 0.1s ease-in-out;
}

.skip-link:focus {
  outline: 2px solid var(--font-light);
  outline-offset: 3px;
  transform: translateY(0);
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  width: 100%;
}

/* button */
.btn:is(a) {
  text-decoration: none;
}

.btn {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-weight: 500;
  font-size: clamp(0.9em, 4vw, 1em);
  border-radius: 10rem;
  transition: opacity 200ms ease, background-color 150ms ease;

  &:focus {
    outline-width: 2px;
    outline-offset: 3px;
    outline-style: solid;
  }

  &:hover {
    opacity: 0.8;
  }

  &-primary-hover:hover {
    background-color: transparent;
    outline: 3px solid var(--soft-blue);
    color: var(--soft-blue);
  }

  &-secondary-hover:hover {
    background-color: transparent;
    outline: 2px solid var(--soft-red);
    color: var(--soft-red);
  }

  &--primary,
  &--secondary,
  &--outlined {
    min-width: 7rem;
    padding: 1em clamp(0.6em, 4vw, 1.5em);
  }

  &--primary {
    background-color: var(--soft-blue);
    color: white;

    &:focus {
      outline-color: var(--soft-blue);
    }
  }

  &--secondary {
    background-color: var(--soft-red);
    color: white;

    &:focus {
      outline-color: var(--soft-red);
    }
  }

  &--ghost {
    padding: 0;
    background-color: transparent;
    color: var(--very-dark-blue);

    &:focus {
      outline-color: var(--soft-blue);
    }
  }

  &--outlined {
    outline: 2px solid var(--soft-blue);
    // outline-offset: 3px;
    background-color: transparent;
    color: var(--soft-blue);
  }
}
