.courses-list {
  // background-image: url("../../assets/css-pattern-by-magicpattern-blue.png");
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;'
  // background-color: red;
  padding: 1rem 0;

  &__items {
    display: grid;
    margin-top: 1rem;
    // TODO: adjust this setting on tablet screens
    grid-template-columns: repeat(auto-fit, minmax((min(20rem, 100%), 1fr)));
    gap: 1rem;
  }
}
