.user-menu {
  position: relative;

  &-items {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    position: absolute;
    top: calc(100% + 1rem);
    right: 0;
    background-color: var(--white);
    padding: 0.8rem;
    border-radius: var(--rounded);
    box-shadow: var(--box-shadow);
    min-width: 8rem;
  }

  // links and button
  &__link,
  &-btn {
    display: flex;
    gap: 0.6rem;
    padding: 0.3rem;
    align-items: center;
    font-size: 1rem;

    span {
      display: inline-block;
    }

    &:hover {
      opacity: 0.8;
      color: var(--soft-blue);
    }

    &:focus-visible {
      outline-offset: 2px;
      outline: 2px solid var(--text-color);
    }
  }

  &__link {
    color: var(--text-color);
    text-decoration: none;

    &--disabled {
      font-size: 0.9rem;
    }

    &--disabled:hover {
      color: var(--text-color);
      opacity: 1;
    }
  }

  &-btn {
    color: var(--text-color-1);
    width: 100%;
    border: none;
    background-color: transparent;
  }
}
